CompileFlags:
  Add:
    - -std=c++23
    - -fdiagnostics-absolute-paths
    - -Isrc
    - -I/Users/hugo.leclerc/.xmake/packages/z/zpp_bits/v4.6/f3139335543f4e64a5f21de0ee253a99/include
    - -Isubprojects/eigen3
    - -Wall
    - -Wextra

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: []
    Remove: [readability-magic-numbers]

InlayHints:
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
