CompileFlags:
  Add:
    - -std=c++23
    - -fdiagnostics-absolute-paths
    - -Isrc
    - -Wall
    - -Wextra
  CompilationDatabase: build

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: [performance-*]
    Remove: [readability-magic-numbers]

InlayHints:
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
