CompileFlags:
  Add:
    - -I/Users/hugo.leclerc/.mamba/envs/vfs/lib/python3.13/site-packages/nanobind/include
    - -I/Users/hugo.leclerc/.mamba/envs/vfs/lib/python3.13/site-packages/jaxlib/include
    - -I/Users/hugo.leclerc/Library/Caches/sdot/dylibs/cpython-313-arm64/include
    - -I/Users/hugo.leclerc/.vfs_build/ext/Catch2/install/include
    - -I/Users/hugo.leclerc/sdot_with_interfaces/src/cpp
    - -Isrc/cpp
    - -fdiagnostics-absolute-paths
    - -std=c++23
    - -Wextra
    - -Isrc
    - -Wall
    # CUDA keyword stubs (pour clangd qui n'est pas nvcc)
    - -D__device__=
    - -D__host__=
    - -D__global__=
    - -D__forceinline__=inline
    # CCCL version info
    - -DCUDART_VERSION=12040
    - -D__CUDACC_VER_MAJOR__=12
    - -D__CUDACC_VER_MINOR__=4
    - -DCCCL_DISABLE_CTK_COMPATIBILITY_CHECK

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: []
    Remove: [readability-magic-numbers]

InlayHints:
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
