# Build artifacts
compile_commands.json
.xmake/
build/
bin/
lib/
*.o
*.a
*.so
*.so.p
*.cpython*
*.dylib
*.out

.cache/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.tox/
*.egg-info/
dist/
wheels/

# system
.DS_Store

# IDEs
.vscode/
.idea/
.zed/

# AI
CLAUDE.md
.claude/
.test.mk

# Documentation
docs/.vitepress/cache
docs/.vitepress/dist
node_modules/
octave*
