# Core — nécessaire pour build et runtime
# xmake doit être installé séparément via https://xmake.io (pas le package pip du même nom)
nanobind
numpy
meson
ninja

# Packaging
hatchling
build
cibuildwheel

# Backends
jaxlib
torch
jax

# Intégrations
# dask[array]
matplotlib

# Tests
pytest
timing

